{namespace neos=TYPO3\Neos\ViewHelpers}
<neos:contentElement node="{node}">
<blockquote {f:if(condition: node.properties.citeUri, then: 'cite="{node.properties.citeUri}"')}>
	<neos:contentElement.editable property="text">{text -> f:format.raw()}</neos:contentElement.editable>
		<f:if condition="{node.properties.citeAuthor}">
			<footer>--
				<f:if condition="{node.properties.citeAuthorUri}">
					<f:then>
						<cite><a href="{node.properties.citeAuthorUri}">{node.properties.citeAuthor}</a></cite>
						<f:render section="CiteUri" />
					</f:then>
					<f:else>
						<cite>{node.properties.citeAuthor}</cite>
						<f:render section="CiteUri" />
					</f:else>
				</f:if>
			</footer>
		</f:if>
</blockquote>
</neos:contentElement>

<f:section name="CiteUri">
	<f:if condition="{node.properties.citeUri}">
		<span class="separator">,</span>
		<a href="{node.properties.citeUri}">{f:if(condition: node.properties.citeUriLabel, then: node.properties.citeUriLabel, else: 'liens')}</a>
	</f:if>
</f:section>