{namespace blog=RobertLemke\Plugin\Blog\ViewHelpers}
{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace typo3cr=TYPO3\TYPO3CR\ViewHelpers}
<f:if condition="{posts -> f:count()}">
	<section>
		<header class="main-header">
			<h2>Les derniers<br> articles du blog</h2>
		</header>
		<f:for each="{posts}" as="post">
			<article class="resume-item blog-resume-item">
				<h4><neos:link.node node="{post}">{post.properties.title}</neos:link.node></h4>

				<div class="img-wrapper" style="display: block">
					<blog:thumbnail node="{post}" alt="{post.properties.title}" maximumWidth="270" class="greyit img-grayscale" />
				</div>

				<p><blog:teaser node="{post}" maxCharacters="200"/></p>

				<div class="clearfix"></div>
			</article>
		</f:for>
	</section>
</f:if>
